<main id="chat">
    <div id="chatBox">

    </div>
    <div id="messageBox">
        <label for="clientMessage">Ingrese su mensaje</label>
        <textarea id="clientMessage"></textarea>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>