<main>
    <form id="login_form">
        <div>
            <label for="login_form__mail">Mail</label>
            <input id="login_form__mail" type="text">
        </div>
        <div>
            <label for="login_form__password">Contraseña</label>
            <input id="login_form__password" type="password">
        </div>
    </form>
    <div id="login_buttons">
        <button id="login_form__button"> Iniciar sesión </button>
        <button id="login_github_button"> Iniciar sesión con GitHub</button>
    </div>
</main>