<main>
    <form id="login_form">
        <label for="login_form__mail">Mail</label>
        <input id="login_form__mail" type="text">
        <label for="login_form__password">Contraseña</label>
        <input id="login_form__password" type="text">
    </form>
</main>