<form>
    <label for="form__title"> Nombre del producto </label>
    <input type="text" id="form__title">
    <label for="form__description"> Descripción </label>
    <input type="text" id="form__description">
    <label for="form__price"> Precio </label>
    <input type="number" id="form__price">
    <label for="form__thumbnail"> Dirección de la miniatura del producto </label>
    <input type="text" id="form__thumbnail">
    <label for="form__stock"> Unidades en stock </label>
    <input type="number" id="form__stock">
    <button id="form__submit" type="button">Cargar</button>
</form>