<main>
    <form id="register_form">
        <div>
            <label for="register_form__first_name">Nombre</label>
            <input id="register_form__first_name" type="text">
        </div>
        <div>
            <label for="register_form__last_name">Apellido</label>
            <input id="register_form__last_name" type="text">
        </div>
        <div>
            <label for="register_form__photo">Foto</label>
            <input id="register_form__photo" type="text" placeholder="No obligatorio">
        </div>
        <div>
            <label for="register_form__mail">Mail</label>
            <input id="register_form__mail" type="email">
        </div>
        <div>
            <label for="register_form__age">Edad</label>
            <input id="register_form__age" type="number" min="0" placeholder="No obligatorio">
        </div>
        <div>
            <label for="register_form__role" >Role</label>
            <input id="register_form__role" list="roles" placeholder="No obligatorio">
            <datalist id="roles">
                <option value="user">Usuario</option>
                <option value="admin">Administrador</option>
            </datalist>
        </div>
        <div>
            <label for="register_form__password">Contraseña</label>
            <input id="register_form__password" type="password">
        </div>
        <div>
            <label for="register_form__repeat_password">Repita su contraseña</label>
            <input id="register_form__repeat_password" type="password">
        </div>
    </form>
    <div id="register_buttons"> 
        <button id="register_form__button"> Registrarse </button>
        <button id="register_github_button"> Registrarse con GitHub</button>
    </div>
</main>