main{
    #cart{
        #sinUsuario{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            border: solid;
            margin: 2vw;
            padding: 2vw;
            font-size: xx-large;
        }
        padding: 1vw;
        .cart_item{
            padding: 1vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            position: relative;
            border: solid;
            align-items: center;
            .id{
                overflow-x: scroll;
                max-width: 10vw;
            }
            .title{
                display: inline;
                position: absolute;
                left: 15vw;
                overflow-x: scroll;
                max-width: 30vw;
            }
            .price{
                position: absolute;
                right: 40vw;
                max-width: 10vw;
                overflow-x: scroll;
        
            }
            .cart_item__less{
                font-size: xx-large;
                position: absolute;
                right: 27vw;
            }
            .units{
                position: absolute;
                right: 25vw;
            }
            .cart_item__more{
                font-size: xx-large;
                position: absolute;
                right: 22vw;
            }
            .total_price{
                position: absolute;
                right: 10vw;
                max-width: 10vw;
                overflow-x: scroll;
            }
            .cart_item__delete{
                font-size: xx-large;
            }
        }
    }
    #pie_total{
        position: absolute;
        right: 0vw;
        span{
            padding-inline: 10vw;
        }
    }
    #finalizar_compra{
        position: absolute;
        left: 5vw;
        font-size: xx-large;
    }
}