#register_form{
    padding: 1vw;
    display: flex;
    div{
        position: relative;
        display: flex;
        flex-direction: row;
        left: 15vw;
        padding-bottom: 1vw;
        input{
            font-size: x-large;
            position: absolute;
            right: 30vw;
            width: 30vw;
        }
    }
}

#register_buttons{
    
    display: flex;
    justify-content: space-around;
    button{
        position: relative;
        margin: 2vw;
        padding: 0.5vw;
        font-size: x-large;
    }
    #register_github_button{
        background-color: rgb(31, 31, 31);
        color: white;
    }
}
