#user_session{
    display: flex;
    flex-direction: row;
    justify-content: end;
    a{
        color: black;
        border: solid;
        margin: 1vw;
        text-decoration: none;
        &:hover{
            background-color: red;
        }
        &:visited{
            color: black;
        }
    }
}