<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{style}}>
    <title>{{title}}</title>
</head>
<body class="">
    <header>
        <div id="user_session">
        </div>
        <nav>
            <a href="/">
                Home
            </a>
            <a href="/products">
                Products
            </a>
            <a href="/chatbot">
                Chat
            </a>
            <a href="/carts" id="navCart">
                Cart
                <span id="navCart_cant"></span>
            </a>
        </nav>
    </header>
    {{{body}}}
    <script src="/socket.io/socket.io.js" ></script>
    <script src="/public/scripts/connection.js"></script>
    <script src={{script}}></script>
</body>
</html>